<section>
    <div> 
        <form [formGroup]="editForm" (submit)="submitEditedUser()">
            <mat-form-field>
                <mat-label>User name</mat-label>
                <input
                    matInput
                    type="text"
                    formControlName="fullName"
                    placeholder="{{ user.fullName }}"
                    />
            </mat-form-field><br/>
            <mat-form-field>
                <mat-label>Email address</mat-label>
                <input
                    matInput
                    type="email"
                    formControlName="emailAddress"
                    placeholder="{{ user.emailAddress }}"
                />
                <mat-error>{{errorMessage()}}</mat-error>
            </mat-form-field><br/>
            <mat-form-field>
                <mat-label>User status</mat-label>
                <mat-select formControlName="userStatus">
                    <mat-option
                    *ngFor="let status of statuses"
                    [value]="status"                   
                    >
                    {{ status.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field><br/>
                <button mat-flat-button type="submit" [disabled]="!editForm.valid">
                    Save changes
                </button>
                <button mat-flat-button type="button" [routerLink]="['/user', user.id]">
                    Cancel edit
                </button>
        </form> 
    </div>
</section>