name: CI

on:
  push:
    tags:
      - '*'
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup dotnet 9.0
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.100'
      - name: Build and Test
        run: ./build.ps1
        shell: pwsh
      - name: Push to NuGet
        if: github.ref == 'refs/heads/release' || startsWith(github.ref, 'refs/tags/v')
        env:
          NUGET_URL: https://api.nuget.org/v3/index.json
          NUGET_API_KEY: ${{ secrets.NUGET_CRAFTERS_CLOUD_CORE_CI_API_KEY }}
        run: ./push.ps1
        shell: pwsh
      - name: Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: artifacts/**/*
